extends base

block content
  - var action = '/scanner'
  if (!scanner.isNew)
    - action += '/'+scanner.id


  form(action=action, method='post')
    if(!scanner.isNew)
      input(type='hidden', name='_method', value='put')

    p
      label Type of search
        br
        input(name='searchType', type='radio', checked, value='nearbySearch')
        | &nbsp; Nearby search
        br
        input(name='searchType', type='radio', value='radarSearch')
        | &nbsp; Radar search

    p.radarWarning
      b Warning!
      |&nbsp;You should choose at least one place type for radar search!

    p
      label Radius
        br
        input.input.input-xxlarge(name='radius', type='text', value=scanner.radius)

    p
      label Latitude
        br
        input(name='latitude', type='text', placeholder='Latitude', value=scanner.latitude)

    p
      label Longitude
        br
        input(name='longitude', type='text', placeholder='Longitude', value=scanner.longitude)

    p
      label Name of search
        br
        input(name='title', type='text', placeholder='Name of search', value=scanner.title)

    p
      h3 Place types (if you want find all places then check 'establishment')

    p
      label
        a.selectAll Select all
        br
        a.deselectAll Deselect all

    p
      each scannerType in scannerTypes
        input(name='scannerType', type='checkbox', value='#{scannerType}')
        | &nbsp;#{scannerType}
        br
    p
      button.btn.btn-primary(type='submit') Create Scanner

