extends base

block content
  - var action = '/scanner'
  if (!scanner.isNew)
    - action += '/'+scanner.id


  form(action=action, method='post')
    if(!scanner.isNew)
      input(type='hidden', name='_method', value='put')

    p
      label Radius
        br
        input.input.input-xxlarge(name='radius', type='text', value=scanner.radius)

    p
      label Latitude
        br
        input(name='latitude', type='text', placeholder='Latitude', value=scanner.latitude)

    p
      label Longitude
        br
        input(name='longitude', type='text', placeholder='Longitude', value=scanner.longitude)

    p
      label Name of search
        br
        input(name='nameofsearch', type='text', placeholder='Name of search', value=scanner.title)

    p
      button.btn.btn-primary(type='submit') Create Scanner

